.login-page {
  background: linear-gradient(-45deg, #1a2980, #26d0ce);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden; /* Evita barras de rolagem da animação */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 450px;
}

.form-floating > .form-control {
  background-color: transparent;
  color: white;
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-color: rgba(255, 255, 255, 0.3);
  transition: border-color 0.3s ease;
}

.form-floating > .form-control:focus {
  color: white;
  background-color: transparent;
  box-shadow: none;
  border-color: #26d0ce;
}

.form-floating > label {
  color: rgba(255, 255, 255, 0.5);
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.7) inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.btn-primary {
  background: #26d0ce;
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce);
  background: linear-gradient(to right, #1a2980, #26d0ce);
  border: none;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  padding: 1rem;
  font-weight: 600;
}

.btn-outline-secondary {
  padding: 1rem;
  font-weight: 600;
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
}
.btn-outline-secondary:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
}

.divider {
  text-align: center;
  margin: 1.5rem 0;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.forgot-password-link {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: #26d0ce;
}
